/* #region-Variables */
:root {
  /* Colors */
  --cl-primary-iris: #4d5ae5;
  --cl-active-ocean: #404bbf;
  --cl-dark-navy-blue: #2e2f42;
  --cl-dark-navy-blue-modal: rgba(46, 47, 66, 0.4);
  --cl-success-green: #31d0aa;
  --cl-text-slate: #434455;
  --cl-subtle-text-light-slate: #8e8f99;
  --cl-accent-cornflower: #e7e9fc;
  --cl-light-cloud: #f4f4fd;
  --cl-hero-gray: rgba(46, 47, 66, 0.7);
  --cl-white-background: #ffffff;
  --cl-modal-dairy: #fcfcfc;

  /* Fonts */
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;

  /* Animation */
  --transition-hover-focus: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transform-scale: scale(1.01);
}

/* #endregion-Variables */

/* #region-Base */

body {
  font-family: 'Roboto', sans-serif;
  color: var(--cl-text-slate);
  background-color: var(--cl-white-background);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #endregion-Base */

/* #region-Common */

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section {
  padding: 96px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 120px 0;
  }
}

.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cl-primary-iris);
}

.logo-dark {
  color: var(--cl-dark-navy-blue);
}

.logo-light {
  color: var(--cl-light-cloud);
}

/* Socials */

/* Buttons */

.btn {
  display: block;
  min-width: 169px;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: auto;
  padding: 16px 32px;
  border-radius: 4px;
  color: var(--cl-white-background);
  background-color: var(--cl-primary-iris);
  transition: background-color var(--transition-hover-focus);
}

.btn:hover,
.btn:focus {
  background-color: var(--cl-active-ocean);
  transform: var(--transform-scale);
}

/* #endregion */

/* #region-Header */

.header {
  display: block;
  border-bottom: 1px solid var(--cl-accent-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header-nav {
    padding: 16px 0;
  }
}

.header-logo {
}

@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 76px;
  }
}

.header-nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }
}

.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  color: var(--cl-dark-navy-blue);
  transition: color var(--transition-hover-focus);
}

.header-link.current {
  position: relative;
  color: var(--cl-active-ocean);
}

.header-link.current::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background: var(--cl-active-ocean);
  border-radius: 2px;
}

.contact {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    align-items: center;
  }
}

.contact-list {
}

@media screen and (min-width: 768px) {
  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media screen and (min-width: 1158px) {
  .contact-list {
    flex-direction: row;
    gap: 40px;
  }
}

.contact-item {
}

.contact-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--cl-text-slate);
  transition: color var(--transition-hover-focus);
}

@media screen and (min-width: 1158px) {
  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.header-link:hover,
.header-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--cl-active-ocean);
  transform: var(--transform-scale);
}

.header-open-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  color: rgb(var(--cl-dark-navy-blue));
  background-color: transparent;
  transition: color var(--transition-hover-focus);
}

.header-open-btn:hover,
.header-open-btn:focus {
  color: rgb(var(--cl-active-ocean));
}

@media screen and (min-width: 768px) {
  .header-open-btn {
    display: none;
  }
}

.header-open-icon {
  fill: currentColor;
}

/* #endregion */

/* #region-Hero */

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .hero-container {
    gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
  }
}

.hero {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 216px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--cl-white-background);
}

@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}

.hero-btn {
}

/* #endregion */

/* #region-Features */
.features {
}

.features-container {
}

.features-title {
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .features-list {
    justify-content: space-between;
    gap: 24px;
  }
}

.features-item {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .features-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .features-item {
    width: calc((100% - 72px) / 4);
  }
}

.features-pre-title {
  margin-bottom: 8px;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--cl-dark-navy-blue);
}

@media screen and (min-width: 768px) {
  .features-pre-title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .features-pre-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}

.features-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cl-text-slate);
}

@media screen and (max-width: 1157px) {
  .features-description {
    font-weight: 500;
  }
}

.features-box {
  display: none;
}

@media screen and (min-width: 1158px) {
  .features-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    border: 1px solid var(--cl-subtle-text-light-slate);
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: var(--cl-light-cloud);
  }
}

/* #endregion */

/* #region-Team */
.team {
  background-color: var(--cl-light-cloud);
}

.team-container {
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--cl-dark-navy-blue);
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding: 0 12px;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 64px 24px;
    padding: 0 92px;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    padding: 0 0;
    margin: 0 auto;
  }
}

.team-item {
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--cl-white-background);

  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

.team-box-wrap {
  padding: 32px 0;
}

.team-pre-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  color: var(--cl-dark-navy-blue);
}

.team-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--cl-text-slate);
  margin-bottom: 8px;
}

.team-icon-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.team-icon-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--cl-primary-iris);
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--cl-primary-iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-hover-focus);
}

.team-icon {
  fill: var(--cl-light-cloud);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--cl-active-ocean);
}

/* #endregion */

/* #region-Portfolio */
.portfolio {
}

.portfolio-container {
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--cl-dark-navy-blue);
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    gap: 48px 24px;
  }
}

.portfolio-item {
  cursor: pointer;
  transition: box-shadow var(--transition-hover-focus);
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-box {
  height: 280px;

  position: relative;

  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .portfolio-box {
    height: 300px;
  }
}

.portfolio-box-text {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  padding: 40px 32px;
  background: var(--cl-primary-iris);
  color: var(--cl-light-cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform var(--transition-hover-focus);
}

.portfolio-item:hover .portfolio-box-text {
  transform: translateY(0);
}

.portfolio-box-wrap {
  padding: 32px 16px;
  border: 1px solid var(--cl-accent-cornflower);
  border-top: none;
}

.portfolio-pre-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--cl-dark-navy-blue);
}

.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cl-text-slate);
}

/* #endregion */

/* #region-Footer */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--cl-dark-navy-blue);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 72px 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    padding: 0 108px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    flex-wrap: nowrap;
    gap: 0;
  }
}

.footer-first {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-first {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-first {
    margin-right: 120px;
  }
}

.footer-logo {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    align-self: start;
  }
}

.footer-desription {
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--cl-light-cloud);
}

@media screen and (min-width: 768px) {
  .footer-desription {
  }
}

@media screen and (min-width: 1158px) {
  .footer-desription {
    width: 264px;
  }
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-social {
  }
}

@media screen and (min-width: 1158px) {
  .footer-social {
    margin-right: 80px;
  }
}

.footer-social-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cl-white-background);
}

@media screen and (min-width: 768px) {
  .footer-social-text {
    align-self: start;
  }
}

.footer-social-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-social-item {
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--cl-primary-iris);
  transition: background-color var(--transition-hover-focus);
}

.footer-social-icon {
  fill: var(--cl-light-cloud);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--cl-success-green);
}

/*****  Subscribe-Form  *****/

.footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer-subscribe-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cl-white-background);
}

@media screen and (min-width: 768px) {
  .footer-subscribe-text {
    align-self: start;
  }
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .footer-subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-subscribe-form {
    gap: 24px;
  }
}

.footer-subscribe-label {
}

.footer-subscribe-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--cl-white-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--cl-white-background);
  background-color: transparent;
}

.footer-subscribe-input::placeholder {
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--cl-white-background);
}

.footer-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  padding: 8px 0;
  text-align: center;
  font-size: 16px;
}

.footer-form-icon {
  margin-left: 16px;
  fill: currentColor;
}

/* #endregion */

/* #region Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  background-color: var(--cl-dark-navy-blue-modal);
  transition: opacity var(--transition-hover-focus),
    visibility var(--transition-hover-focus);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  padding: 72px 24px 24px;
  max-width: 408px;
  width: 100%;
  min-height: 584px;
  overflow-y: auto;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--cl-modal-dairy);
  transition: transform var(--transition-hover-focus);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--cl-accent-cornflower);
  color: var(--cl-dark-navy-blue);
  transition: background-color var(--transition-hover-focus),
    border var(--transition-hover-focus);
}

.modal-close-icon {
  fill: currentColor;
  transition: fill var(--transition-hover-focus);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  background-color: var(--cl-active-ocean);
  color: var(--cl-white-background);
  transform: var(--transform-scale);
}

.modal-title {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cl-dark-navy-blue);
}

/****** Modal-form *****/

.modal-form {
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--cl-subtle-text-light-slate);
}

.modal-form-wrapper {
  position: relative;
}

.modal-form-input,
.modal-form-message {
  padding: 11px 16px 11px 38px;
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  color: var(--cl-dark-navy-blue-modal);
  background-color: transparent;
  border: 1px solid var(--cl-dark-navy-blue-modal);
  outline: transparent;
  transition: border-color var(--transition-hover-focus);
}

.modal-form-input:hover,
.modal-form-input:focus {
  border-color: var(--cl-primary-iris);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill var(--transition-hover-focus);
}

.modal-form-input:hover + .modal-form-icon,
.modal-form-input:focus + .modal-form-icon {
  fill: var(--cl-primary-iris);
}

.modal-form-message {
  resize: none;
  padding: 8px 16px;
  height: 120px;
}

.modal-form-textarea-box {
  margin-bottom: 16px;
}

.modal-form-message::placeholder {
  color: var(--cl-dark-navy-blue-modal);
}

.modal-form-check {
  margin-bottom: 24px;
}

.modal-form-check-text {
  cursor: pointer;
  user-select: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--cl-subtle-text-light-slate);
}

.modal-form-check-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  fill: transparent;
  color: transparent;
  border: 1px solid var(--cl-dark-navy-blue-modal);
  transition: background-color var(--transition-hover-focus),
    border var(--transition-hover-focus), fill var(--transition-hover-focus);
}

.modal-standart-checkbox:checked
  + .modal-form-check-text
  .modal-form-check-box {
  background-color: var(--cl-active-ocean);
  border: none;
  color: var(--cl-light-cloud);
  fill: var(--cl-light-cloud);
}

.modal-form-check-icon {
  fill: currentColor;
}

.modal-form-check-link {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  color: var(--cl-primary-iris);
}

.modal-form-btn {
}

/* #endregion */

/* *============================================================================================================================================== */
/* #region */
/* #endregion */

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1158px) {
}
